body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #333;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

nav ul li a:hover {
  color: #ccc;
}

section {
  padding: 50px;
  text-align: center;
}

h1, h2, h3, h4 {
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: #fff;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

ul {
  text-align: left;
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.light-background {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

.contact-details a {
  display: block;
  margin-bottom: 10px;
}
